.format-missions ul li {
    list-style: none;
}

.format-missions.path-course-view .completionprogress {
    text-align: left;
    float: initial;
}

.format-missions .section {
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    position: relative;
    margin: 2em 0;
    padding: 0.3em;
}

.format-missions #section-0 .section .activity {
    position: relative;
    flex: 0 0 25%;
    margin: 0.3em;
    border: 1px solid rgb(255, 5, 64);
    min-height: 50px;
    padding: 1em;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgb(255, 5, 64);
}

.format-missions #section-0 .section .activity img,
.format-missions #section-0 .section .activity .contentafterlink {
    display: none;
}

.format-missions .section .activity,
.format-missions .section .activity.hasinfo,
.format-missions .section .activity.hasinfo:last-child {
    position: relative;
    flex: 0 0 25%;
    margin: 0.3em;
    border: 5px solid rgba(0, 0, 0, 1);
    padding: 1em;
    min-height: 200px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 00, 0, 0.6)),
        url([[pix:format_missions|activity_bg]]);
    background-size: cover;
}

.format-missions .section .activity a,
.format-missions .section .activity.hasinfo a,
.format-missions .section .activity.hasinfo:last-child a {
    font-family: 'Bangers', monospace;
    color: rgba(255, 255, 255, 1);
}

.format-missions .section .activity .activity-information,
.format-missions .section .activity.hasinfo .activity-information,
.format-missions .section .activity.hasinfo:last-child .activity-information {
    display: none;
}

.format-missions .section .activity .activityinstance .aalink .activityicon {
    display: block;
    margin: 0 auto;
}

/* Smartphones */
@media only screen and (min-width: 320px) and (max-width: 732px) {
    .format-missions .section {
        display: block;
    }
}
